- provide(:title, 'Bread Making Class')
%h1= yield(:title)
%h2 GrunWaldの天然酵母パン教室
%p
  私は、長年ホシノ天然酵母パンを日々楽しみながら焼いてきました。
  %br/
  丁寧に心をこめてパンを焼くと、とっても美味しいパンになります。
  %br/
  美味しいパンを焼く仲間の輪を広げていきたいと願い、お教室を開いています。
%p
  当教室では、一般のパン屋さんやパン教室と違い、濃い種を使ってパンを作ります。
  %br/
  それによって非常に香り高い美味しいパンとなりますが、
  %br/
  これは家庭でしかできないパン作りです。
%p
  ですから私のパン教室はプロになりたい方というよりは、
  %br/
  家庭で心をこめてパンづくりをしたいという方に、ぜひいらしていただきたいと思います。
%p
  また、当教室では、基本的に国産で体に良い食材を選び、パンの材料としています。
  %br/
  食生活に気を使っているという方にも、当教室のパンをおすすめいたします。
%p
  美味しいパンの作り方を習得し、豊かで楽しいパン生活を楽しみましょう。
%h2 講師
.with_middle_text
  %p
    = image_tag("midoriomori.jpg", alt: "teacher", height: 200, style: "vertical-align: middle; display: inline-block;", align: "left", hspace: "20")
  %p
    %b 大森みどり
    %br/
    1991年よりホシノ天然酵母パンを矢野さき子門下の福山洋子氏に師事。
    %br/
    夫と二人の子供がアレルギー体質であったため
    %br/
    食生活や天然酵母パンを研究して今に至る。
  %br{:clear => "left"}/
%h2 開講教室
%h3 基礎科
%div
  %li 毎年4月開講
  %li 月1回で全10回開講
  %li 1レッスン5,000円
  %li 第1火曜と第1土曜の10:00-14:30に開講（パン制作、試食タイム込）
%h4 2017年度申し込み
%p
  %font{:color => "red"}
    2017年度のお申し込みは、2016/12/01（木）9:00から開始します。
    %br/
  申し込みやキャンセル待ちは、こちらの#{link_to "リンク", contact_path}から。
  （プロの方はご遠慮ください）
  %br/
【2017年度申し込み状況】
%br/
= @tue_status.description
%br/
= @sat_status.description
%h4 プログラム
%table{:border => "1"}
  %tr
    %th 開催月
    %th プログラム
    %th 詳細
  %tr
    %td 4
    %td ホシノ天然酵母のパンを焼きましょう
    %td 生種の作り方を覚えると酵母のパンはおいしくできます
  %tr
    %td 
    %td プチパン三種
    %td バター､マヨネーズ、ガーリックバターの三種を作ります 
  %tr
    %td 5
    %td おいしい生種を作りましょう
    %td おいしい生種を作って、おいしい酵母パンを焼きましょう
  %tr
    %td 
    %td ピタパン 
    %td 中に色々入れてパーティーにもどうぞ
  %tr
    %td 6
    %td 角型食パン
    %td 酵母の甘い香りを味わうには食パンが一番 
  %tr
    %td 
    %td 玄米パン
    %td 玄米パンは噛むほどに甘くなります
  %tr
    %td 7
    %td 押し麦パン 
    %td もちもちした柔らかさが味わえるパンです
  %tr
    %td 
    %td ピザ
    %td 夏、食欲の無い時でもピザはおいしいですね
  %tr
    %td 9
    %td くるみ食パン
    %td くるみの香りと食感が素敵なパン
  %tr
    %td 
    %td オニオンロール
    %td 玉ねぎの甘さが生きたパンです
  %tr
    %td 10
    %td ライ麦パン 
    %td モルツビールでこねたこくのある味
  %tr
    %td 
    %td バターロール三種 
    %td プレーン、ラムレーズン､ウインナーのおいしいパンです
  %tr
    %td 11
    %td プチフランス
    %td 小さいけれど本格的な味 
  %tr
    %td 
    %td クリームパン
    %td カスタードクリームを柔らかな生地で包みました 
  %tr
    %td 12
    %td パネトーネ
    %td イタリアのクリスマスのパン、パネトーネの焼きたての味はとろけるようです
  %tr
    %td 
    %td エピのバタール
    %td 麦の形をしたベーコン入りフランスパンです
  %tr
    %td 2
    %td ぶどうパン
    %td しっとり贅沢な味です
  %tr
    %td 
    %td 蒸しパン～肉まん 
    %td 中種法で作ります
  %tr
    %td 3
    %td オレンジピールのパン 
    %td 手づくりオレンジピールやマーマレードたっぷりのクリームチーズ、贅沢なパンです
  %tr
    %td 
    %td イングリッシュ マフィン 
    %td 朝食にぴったりの食事パン
%h3 応用科
※基礎科を修了された方のみが受講できます。
%div
  %li 毎年4月開講
  %li 全10回
