- provide(:title, 'Bread Making Class')
%h1= yield(:title)
%h2 GrunWaldの天然酵母パン教室
%p
  私は、長年ホシノ天然酵母パンを日々楽しみながら焼いてきました。
  %br/
  丁寧に心をこめてパンを焼くと、とっても美味しいパンになります。
  %br/
  美味しいパンを焼く仲間の輪を広げていきたいと願い、お教室を開いています。
%p
  当教室では、一般のパン屋さんやパン教室と違い、濃い種を使ってパンを作ります。
  %br/
  それによって非常に香り高い美味しいパンとなりますが、
  %br/
  これは家庭でしかできないパン作りです。
%p
  ですから私のパン教室はプロになりたい方というよりは、
  %br/
  家庭で心をこめてパンづくりをしたいという方に、ぜひいらしていただきたいと思います。
%p
  また、当教室では、基本的に国産で体に良い食材を選び、パンの材料としています。
  %br/
  食生活に気を使っているという方にも、当教室のパンをおすすめいたします。
%p
  美味しいパンの作り方を習得し、豊かで楽しいパン生活を楽しみましょう。
%h2 講師
.with_middle_text
  %p
    = image_tag("midoriomori.jpg", alt: "teacher", height: 200, style: "vertical-align: middle; display: inline-block;", align: "left", hspace: "20")
  %p
    %b 大森みどり
    %br/
    1991年よりホシノ天然酵母パンを矢野さき子門下の福山洋子氏に師事。
    %br/
    夫と二人の子供がアレルギー体質であったため
    %br/
    食生活や天然酵母パンを研究して今に至る。
  %br{:clear => "left"}/
%h2 開講教室
%h3 基礎科
%div
  %li 毎年4月開講
  %li 全10回
  %li 1レッスン5,000円
%h4 2015年度申し込み
%p
  %li 第3火曜と第3土曜の10:00-14:30開講（パン制作、試食タイム込）
  定員になりました。
%h4 2016年度申し込み
%p
  %li 第2火曜と第2土曜の10:00-14:30開講（パン制作、試食タイム込）
  %font{:color => "red"}
    申し込みは2015/10/01（木） 10:00に開始します。
    %br/
    それ以前の申し込みは受け付けできませんので、ご了承ください。
    %br/
%p
  申し込みは、こちらの#{link_to "リンク", contact_path}から。
  （プロの方はご遠慮ください）
  %br/
【2016年度申し込み状況】
%br/
= @tue_status.description
%br/
= @sat_status.description
%h4 プログラム例
= image_tag("kiso2012.jpg")
%h3 応用科
※基礎科を修了された方のみが受講できます。
%div
  %li 毎年4月開講
  %li 全10回
