- provide(:title, 'Bread Making Class')
%h1= yield(:title)
%h2 GrunWaldの天然酵母パン教室
%p
  当教室ではホシノ天然酵母を利用しています。
  %br/
  一般のパン屋やパン教室と違い、濃い種を利用してパンを作ります。
  %br/
  それによって非常に香り高い美味しいパンとなりますが、
  %br/
  これは家庭でしかできないパン作りといえるでしょう。
%p
  ですから私のパン教室はプロになりたい方というよりは、
  %br/
  家庭で心をこめてパンづくりをしたいという方に、ぜひいらしていただきたいと思います。
%p
  当教室では、基本的に国産で体に良い食材を選び、パンの材料としています。
  %br/
  食生活に気を使っているという方にも、当教室のパンをおすすめいたします。
%p
  美味しいパンの作り方を習得し、豊かで楽しいパン生活を楽しみましょう。
%h2 講師
.with_middle_text
  %p
    = image_tag("midoriomori.jpg", alt: "teacher", height: 300, style: "vertical-align: middle; display: inline-block;", align: "left", hspace: "20")
  %p
    %b 大森みどり
    %br/
    1991年よりホシノ天然酵母パンを矢野さき子門下の福山洋子氏に師事。
    %br/
    夫と二人の子供がアレルギー体質であったため
    %br/
    食生活や天然酵母パンを研究して今に至る。
  %br{:clear => "left"}/
%h2 開講教室
%h3 基礎科
%div
  %li 毎年4月開講
  %li 全10回
  %li 第3火曜と第3土曜の10:00-14:30開講（パン制作、試食タイム込）
  %li 1レッスン5,000円
%h4 申込
%h5 2015年度
%p
  定員になりました。
  %br/
  以後申し込みされる方はキャンセル待ちとなります。
%h5 2016年度
%p
  %font{:color => "red"}
    申込は2015/10/01 10:00に開始します。
    %br/
    それ以前の申し込みは受け付けできませんので、ご了承ください。
    %br/
【申込状況】
%br/
= @tue_status.description
%br/
= @sat_status.description
%p
  申し込みは、こちらの#{link_to "リンク", contact_path}から。
  %br/
  （プロの方はご遠慮ください）
%h4 プログラム例
= image_tag("kiso2012.jpg")
%h3 応用科
※詳細はお申込みされた方にのみ開示
%div
  %li 毎年4月開講
  %li 全10回
%h3 研究科
※詳細はお申込みされた方にのみ開示
%div
  %li 毎年4月開講
  %li 全10回
