= @contact.name
様
　
GrunWaldへのご連絡、ありがとうございます。
お問い合わせ/お申し込みを承りました。
　
3日以内に返信がない場合は、
恐れ入りますが再度ご連絡をお願いいたします。
　
【重要】本メールは送信専用となっております。
本メールに返信いただいても、それに対して返信することはできません。
恐れ入りますが、GrunWaldからの連絡をお待ちください。
　
\===============================================
　
お名前:
= @contact.name
　
パソコンメール:
= @contact.pc_email
　
お問い合わせ内容:
= @contact.content
　
※ 以下は任意記入項目です
　
申し込み講座:
= @contact.bread_making_course
　
自宅電話:
= @contact.home_tel
　
携帯電話:
= @contact.mobile_tel
　
携帯メール:
= @contact.mobile_email
　
郵便番号:
= @contact.zip
　
住所:
= @contact.address
　
\===============================================
　
GrunWald
