- provide(:title, "Contact")
%h1= yield(:title)
%h2 お問い合わせ内容確認
.row
  .span6.offset3
    = form_for @contact, :url => contact_thanks_path do |f|
      = render 'shared/error_messages', object: f.object
      %table.contact
        %tr
          %th お名前
          %td
            = f.hidden_field :name
            = @contact.name
        %tr
          %th パソコンメール
          %td
            = f.hidden_field :pc_email
            = @contact.pc_email
        %tr
          %th お問い合せ内容
          %td
            = f.hidden_field :content
            = @contact.content
        %tr
          %th 申し込み講座
          %td
            = f.hidden_field :bread_making_course
            = @contact.bread_making_course
        %tr
          %th 自宅電話
          %td
            = f.hidden_field :home_tel
            = @contact.home_tel
        %tr
          %th 携帯電話
          %td
            = f.hidden_field :mobile_tel
            = @contact.mobile_tel
        %tr
          %th 携帯メール
          %td
            = f.hidden_field :mobile_email
            = @contact.mobile_email
        %tr
          %th 郵便番号
          %td
            = f.hidden_field :zip
            = @contact.zip
        %tr
          %th 住所
          %td
            = f.hidden_field :address
            = @contact.address
      %br/
      = f.submit "送信", class: "btn btn-large btn-primary"
