- provide(:title, "Contact")
%h1= yield(:title)
%h2 お問い合わせフォーム
%p
  GrunWaldへのお問い合せ、パン教室へのお申込みは以下からお願い致します。
%br/
.row
  .span6.offset3
    = form_for @contact, :url => contact_confirm_path do |f|
      = render 'shared/error_messages', object: f.object
      %b お名前(
      = f.label :name
      %b )
      = f.text_field :name
      %br/
      %br/
      %b パソコンメール(
      = f.label :pc_email
      %b )
      = f.text_field :pc_email
      %br/
      %br/
      %b お問い合せ内容(
      = f.label :content
      %b )
      = f.text_area :content, :rows => "10"
      %b
        %font{:color => "red"}
          ※パン教室へお申込みの方については、以下の項目もご記入ください。
      %br/
      %br/
      %b 申し込み講座(
      = f.label :bread_making_course
      %b )
      %font{style: "font-size:small" }
        = f.radio_button :bread_making_course, "基礎科（火曜日）"
        = f.label :bread_making_course, "　基礎科（火曜日）", :value => "基礎科（火曜日）"
        = f.radio_button :bread_making_course, "基礎科（土曜日）"
        = f.label :bread_making_course, "　基礎科（土曜日）", :value => "基礎科（土曜日）"
      %br/
      %br/
      %b 自宅電話(
      = f.label :home_tel
      %b )
      = f.text_field :home_tel
      %br/
      %br/
      %b 携帯電話(
      = f.label :mobile_tel
      %b )
      = f.text_field :mobile_tel
      %br/
      %br/
      %b 携帯メール(
      = f.label :mobile_email
      %b )
      = f.text_field :mobile_email
      %br/
      %br/
      %b 郵便番号(
      = f.label :zip
      %b )
      = f.text_field :zip
      %br/
      %br/
      %b 住所(
      = f.label :address
      %b )
      = f.text_field :address
      = f.submit "送信内容を確認", class: "btn btn-large btn-primary"
