<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= image_tag "logo-cat.png", height: "60" %>
      <nav>
        <ul class="nav">
          <li style="float:left"><%= link_to "Home", root_path %></li>
          <li style="float:left"><%= link_to "Bread Making Class", bread_path %></li>
          <li style="float:left"><%= link_to "Cafe", cafe_path %></li>
          <li style="float:left"><%= link_to "Shop", shop_path %></li>
          <li style="float:left"><%= link_to "Contact", contact_path %></li>
          <li style="float:left"><%= link_to "Blog", "http://blogs.yahoo.co.jp/chiba_oomori", target: "_new" %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
